.display {
  border-radius: 9999px;
  min-width: 40px;
  max-width: 40px;
  width: 40px;
  height: 40px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 5px;
  /* margin-top: 10px; */
}
.button {
  border-radius: 9999px;
  min-width: 40px;
  max-width: 40px;
  width: 40px;
  height: 40px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: center;
  /* margin-top: 10px; */
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.input {
  width: 0;
}
/* .button {
  all: unset;
  cursor: pointer;
  text-align: center;
  /* outline: black;
  padding: 10px;
  border-radius: 999px; }*/

.button:focus {
  border-color: grey;
  border-style: solid;
  border-width: 3px;
}
.active {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  background-color: pink;
}

.red {
  background-color: #b22222;
}
.white {
  background-color: white;
}
.green {
  background-color: #228b22;
}
.black {
  background-color: black;
}
.orange {
  background-color: orange;
}
