.display {
  border-radius: 9999px;
  min-width: 40px;
  max-width: 40px;
  width: 40px;
  height: 40px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 5px;
  /* margin-top: 10px; */
}
.button {
  all: unset;
  cursor: pointer;
}

.red {
  background-color: #b22222;
}
.white {
  background-color: white;
}
.green {
  background-color: #228b22;
}
.black {
  background-color: black;
}
.orange {
  background-color: orange;
}
