.card {
  border-radius: 15px;
  background-color: green;
  /* width: 50%; */
}

.infoRow {
  display: flex;
  flex-direction: row;
}

.infoRowOptions {
  display: flex;
  flex-direction: column;
}

.select {
  border-radius: 999px;
}

.listContainer {
  padding-left: 8px;
  padding-right: 8px;
}

.infoList {
  padding-left: 0;
  padding-right: 0;
  /* padding-left: 10px;
  padding-right: 10px; */
  padding-bottom: 10px;
}
.listItem {
  color: black;
  /* display: flex;
    width: 100%;
    height: 100px; */
  list-style: none;
}

.image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
}
.infoList {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
