.header {
  display: flex;
  background: linear-gradient(180deg, #059142, #29c466);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
}

.headerContainer {
  display: flex;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding-left: 10px;
  padding-right: 10px;
  /* background: linear-gradient(rgb(42, 199, 104) 0px, rgb(27, 136, 71) 100%); */
  top: 0;
}

.telephone {
  width: 20px;
  height: 20px;
}

.headingLink {
  display: flex;
  text-decoration: none;
  height: 34px;
  /* flex: 1; */
}

.navLinkContainer {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  font-size: 20px;
  width: 100%;
  justify-content: center;
  margin-top: 65px;
  gap: 32px;
  background-color: rgb(27, 136, 71);
}

.navLink {
  text-decoration: none;
  color: white;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  font-weight: 700;
  font-size: 16px;
}

.active {
  text-decoration: none;
  color: white;
  text-decoration: underline;
}

.navLink:visited {
  text-decoration: none;
}

.h1 {
  color: white;
}

.shoppingCartLink {
  display: flex;
  position: relative;
  cursor: pointer;
}
.shoppingCartImage {
  display: flex;
  width: 30px;
  height: 30px;
  position: relative;
  /* background-image: url("/Icons/shopping-cart-icon.svg");
  background-repeat: no-repeat;
  background-size: contain; */
}

.cartCount {
  position: absolute;
  left: -11px;
  bottom: 14px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 25px;
  height: 25px;
  border-radius: 999px;
}
