.header {
  display: flex;
  width: 100%;
  background-color: #29c466;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerContainer {
  display: flex;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headingLink {
  display: flex;
  text-decoration: none;
}

.h1 {
  color: white;
}

.shoppingCartLink {
  display: flex;
  position: relative;
  cursor: pointer;
}
.shoppingCartImage {
  display: flex;
  width: 40px;
  height: 40px;
  background-image: url("/shopping_cart.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.cartCount {
  position: absolute;
  left: 25px;
  bottom: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 25px;
  height: 25px;
  border-radius: 999px;
}
