.header {
  display: flex;
  background-color: #29c466;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.nav {
}

.headerContainer {
  display: flex;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #29c466;
  top: 0;
}

.telephone {
  width: 36px;
}

.headingLink {
  display: flex;
  text-decoration: none;
  /* flex: 1; */
}

.navLinkContainer {
  padding-top: 5px;
  padding-bottom: 10px;
  display: flex;
  font-size: 20px;
  width: 100%;
  justify-content: center;
  margin-top: 65px;
}

.navLink {
  text-decoration: none;
  color: white;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.active {
  text-decoration: none;
  color: white;
  text-decoration: underline;
}

.navLink:visited {
  text-decoration: none;
}

.h1 {
  color: white;
}

.shoppingCartLink {
  display: flex;
  position: relative;
  cursor: pointer;
}
.shoppingCartImage {
  display: flex;
  width: 40px;
  height: 40px;
  background-image: url("/shopping_cart.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.cartCount {
  position: absolute;
  left: 25px;
  bottom: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 25px;
  height: 25px;
  border-radius: 999px;
}
