.header {
  display: flex;
  width: 100%;
  background-color: #29c466;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: "16px";
  padding-right: "16px";
  padding-top: "12px";
  padding-bottom: "12px";
}

.h1 {
  color: white;
}

.body {
  min-height: 100vh;
}

.productListContainer {
  display: flex;
}

.shoppingCartLink {
  display: flex;
}
.shoppingCartImage {
  display: flex;
  width: 40px;
  height: 40px;
  background-image: url("./assets/shopping_cart.png");
  background-repeat: no-repeat;
  background-size: contain;
}
